a(href=page.dir+"contact/").c-offer
    .c-offer__bg
    .c-offer__content
        h2.c-heading_01.-white.-center
            span.en CONTACT
            span.ja お問い合わせ
        p.c-offer__text
            | メールのほか、スケジュール・ご予算感などの目安もご確認いただけます。
        p.c-offer__button_wrap
            span.c-button.-white お問い合わせする

.c-container
    a(href="#page-top").l-footer__pagetop.u-hidden-md
        img(src=image_path + "/common/icon-page-top.svg", alt="PAGE TOP")