button(type=button aria-label="メニュー開閉").l-header__sp_button#js-sp-button
    span.line
    span.line
    span.line
header.l-header
    .l-header__inner
        h1.l-header__logo
            img(src=image_path+"/logo.svg" alt="タイトル" width="200" height="38")
        nav.l-header__nav
            ul.l-header__nav_menu#js-header-nav
                li: a(href="#top") TOP
                li: a(href="#about") ○○とは
                li: a(href="#") お問い合わせ


