- var image_path = page.dir +'img'
- var css_path = page.dir +'css'
- var js_path = page.dir +'js'
- var domain = 'https://examle.com/'
- var ogp = 'img/ogp.png'
- var sitename = 'サイトタイトル'


include _include/_mixin