doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title Page Title
    script(src="./js/index.js")
    link(rel="stylesheet" href="./css/style.css")
  body
    header.l-header
      h1.l-header__logo Logo
    main.l-main
      h2 main
      p pug