extends _layout.pug

block vars
    include _config.pug
    - var key = "top"
    -
        var page = {
            url: 'index.html',
            title: 'トップページ',
            description: 'トップページです',
        }

block kv
    +breadcrumb([
        "test02", "テキスト", [
            "test03", "テキスト"
        ]
    ])
block contents
    h2 page.title
    .keyvisual_container
        p.keyvisual_image
            img(src=image_path + "/top/top_keyvisual.jpg", alt="")