
.c-button01 .text{
  -webkit-transition:opacity .6s;
  transition:opacity .6s
}
.c-button01 .c-ico{
  color:#fff;
  height:2em;
  margin-left:1em;
  position:relative;
  width:2em;
  z-index:10
}
.c-button01 .c-ico:before{
  background-color:#b99576;
  border-radius:50%;
  content:"";
  height:100%;
  left:50%;
  position:absolute;
  top:50%;
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
  -webkit-transition-duration:.3s;
  transition-duration:.3s;
  -webkit-transition-property:width,height;
  transition-property:width,height;
  -webkit-transition-timing-function:ease-out;
  transition-timing-function:ease-out;
  width:100%;
  z-index:-1
}
.c-button02{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  font-size:1.7rem;
  width:100%
}
.c-button02.-right{
  -webkit-box-pack:end;
  -ms-flex-pack:end;
  justify-content:flex-end
}
.c-button02.-mt-m{
  margin-top:2em
}
.c-button02 a,.c-button02>span{
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex
}
.is-mouse .c-button02 a:hover .text,.is-mouse .c-button02>span:hover .text{
  opacity:.7
}
.c-button02 .text{
  -webkit-transition:opacity .6s;
  transition:opacity .6s
}
.c-button02 .text,.c-button02 .text.-min{
  font-family:游明朝,YuMincho,ヒラギノ明朝 Pro W3,Hiragino Mincho Pro,HG明朝E,MS P明朝,MS 明朝,serif
}
.c-button02 .c-arrow{
  margin-left:1.2em
}
.c-button02 .c-arrow.-left{
  margin-left:auto;
  margin-right:1.2em
}
.c-button03{
  font-size:2.2rem
}
.c-button03,.c-button03 a{
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  justify-content:center;
  width:100%
}
.c-button03 a{
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  font-family:游明朝,YuMincho,ヒラギノ明朝 Pro W3,Hiragino Mincho Pro,HG明朝E,MS P明朝,MS 明朝,serif;
  max-width:800px;
  padding:2em;
  position:relative
}