
.c-lower_kv02{
  margin-bottom:calc(5.71429vw + 18.57143px);
  padding-top:calc(4.89796vw + 41.63265px)
}
.c-lower_kv02__inner{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -webkit-box-align:start;
  -ms-flex-align:start;
  align-items:flex-start;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-direction:column;
  flex-direction:column
}