@use "../../foundation" as *;

.u-disable{
  pointer-events:none
}
.u-hidden-lg{
  @include mq(md,min){
    display: none!important;
  }
}
.u-hidden-md{
  @include mq(md){
    display: none!important;
  }
}