extends ../_layout.pug

block vars
    -
        var page = {
            dir: '../',
            url: '',
            key: 'top',
            title: 'サイトタイトル',
            description: '説明文',
        }

    include ../_config.pug

block contents
    main.l-main
        |aaa